<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New</title>
    <style>
        table {
            font-size: x-large;
        }
    </style>
</head>
<body>
<div th:insert="logout"></div>
<h1 align="center">New user</h1>
<form th:method="post" th:action="@{/admin}" th:object="${user}">
    <table align="center">
        <tr>
            <td>Name:</td>
            <td><input th:field="*{name}"></td>
        </tr>

        <tr>
            <td>Roles:</td>
            <td>
                <th:block th:each="role: ${roles}">
                    <input type="checkbox" th:field="*{roles}"
                           th:text="${role.name}" th:value="${role.id}"/>
                </th:block>
            </td>
        </tr>

        <tr>
            <td>Email:</td>
            <td><input th:field="*{email}"/></td>
        </tr>

        <tr>
            <td>Password:</td>
            <td><input th:field="*{password}"/></td>
        </tr>

        <tr>
            <td align="left"><input style="font-size: large" type="submit" value="Create"></td>
        </tr>
    </table>
</form>

</body>
</html>