<form th:id="${'deleteForm'+current.index}" class="w-50" th:object="${emptyUser}" th:method="delete" th:action="#{/admin}">
  <div class="mb-3 d-flex flex-column text-center">
    <strong>ID</strong>
    <input type="text" class="form-control" th:value="${user.id}" th:name="id" readonly>

    <strong class="mt-3">First name</strong>
    <input type="text" class="form-control" th:value="${user.name}" th:name="name" readonly>

    <strong class="mt-3">Last name</strong>
    <input type="text" class="form-control" th:value="${user.lastName}" th:name="lastName" readonly>

    <strong class="mt-3">Age</strong>
    <input type="number" class="form-control" th:value="${user.age}" th:name="age" readonly>

    <strong class="mt-3">Email</strong>
    <input type="email" class="form-control" th:value="${user.email}" th:name="email" readonly>

    <strong class="mt-3">Password</strong>
    <input type="password" class="form-control" th:value="${user.password}" th:name="password" readonly>

    <strong class="mt-3">Role</strong>

    <select multiple class="form-select" size="2" th:name="roles" hidden>
      <option th:each="role : ${allRoles}" th:text="${role.name}" th:value="${role.id}" th:selected="${#lists.contains(user.roles,role)}">Role</option>
    </select>

    <select multiple class="form-select" size="2" th:name="roles" disabled>
      <option th:each="role : ${allRoles}" th:text="${role.name}" th:value="${role.id}" th:selected="${#lists.contains(user.roles,role)}">Role</option>
    </select>
  </div>
</form>